{% if site.comments %}
<script data-isso = "//http://smileboywtu.github.io/"
        data-isso-css="true"
        data-isso-lang="en"
        data-isso-max-comments-top="10"
        data-isso-max-comments-nested="5"
        data-isso-reveal-on-click="5"
        data-isso-avatar="true"
        data-isso-avatar-bg="#f0f0f0"
        data-isso-avatar-fg="#9abf88 #5698c4 #e279a3 #9163b6 ..."
        data-isso-vote="true"
        src="//121.42.178.129:8050/js/embed.min.js"
        type="text/javascript"></script>
<div class="demo">
    <h2>comments</h2>
    <section id="isso-thread"></section>
</div>

{% endif %}
