<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">

    <title>{% if page.title %}{{ page.title }}{% else %}{{ site.title }}{% endif %}</title>
    <meta name="description" content="{% if page.excerpt %}{{ page.excerpt | strip_html | strip_newlines | truncate: 160 }}{% else %}{{ site.description }}{% endif %}">

    <!-- style -->
    <link rel="stylesheet" type="text/css" href="//fonts.googleapis.com/css?family=Open+Sans:300,400,600">
    <link rel="stylesheet" href="{{ " /css/font-awesome/css/font-awesome.min.css" | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/customer/syntax.css " | prepend: site.baseurl }}">
    <link rel="stylesheet" href="{{ " /css/customer/customer.css " | prepend: site.baseurl }}">
    <!-- bootstrap3 -->
    <link rel="stylesheet" href="{{ " /css/bootstrap3/css/bootstrap.min.css " | prepend: site.baseurl }}">
    <link rel="canonical" href="{{ page.url | replace:'index.html','' | prepend: site.baseurl | prepend: site.url }}">

    <!-- isso comment system -->
    <script data-isso="//121.42.178.129" data-isso-lang="en" data-isso-css="true" src="//121.42.178.129/js/embed.min.js"></script>

    <!-- jquery -->
    <script src="{{ " /css/bootstrap3/js/jquery-1.12.0.min.js " | prepend: site.baseurl }}"></script>
    <!-- bootstrap 3 -->
    <script src="{{ " /css/bootstrap3/js/bootstrap.min.js " | prepend: site.baseurl }}"></script>

    <!-- owner special recommendation -->
    <!--
    <script>
        $.get(
            "http://121.42.178.129/recommendation/music",
            function(data){
                $('#recommendation').append(data);
            },"html");
    </script>
    -->

    {% if page.title %}
    <script>
        $(document).ready(function() {
            $("#id-page-{{ page.title }}-title").addClass("active");
        });
    </script>
    {% endif %}

</head>
